/* *{
    background-color:#df18ce5e ;
} */
header {
  position: fixed;
  /* background-color: rgb(60, 60, 158); */
  display: flex;
  padding: 10px;
  gap: 10px;
  z-index: 1;
  align-items: center;
}

.container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100px;
  height: 50px;
  /* background-color:rgb(60, 60, 158); */
  justify-content: space-around;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(153, 81, 219); */
  color: aliceblue;
  h2 {
    margin: 0;
  }
}
/* css */
.feature {
  height: 100vh;
  background-image: url("./assets/galaxy1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.about {
  height: 100vh;
  background-image: url("./assets/galaxy2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact {
  height: 100vh;
  background-image: url("./assets/galaxy3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.title {
  position: absolute;
  background: none;
  bottom: 50px;
  left: 50px;
  text-decoration: none;
  font-size: large;
  font-weight: 100px;
}
.info {
  position: absolute;
  background: none;
  bottom: 50px;
  left: 50px;
  text-decoration: none;
  font-size: large;
  font-weight: 100px;
  a {
    text-decoration: none;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

a {
  color: white;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  /* position: fixed; */
}

footer {
  background: rgb(0, 2, 2);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
}

h1 {
  text-align: start;
  padding: 0;
  margin: 0;
}

/* whats going to happen before hovering */
.read-more {
  color: white;
  background-color: black;
}

/* after hover these actions will occur */
.read-more:hover {
  color: crimson;
}
